<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
  <mat-form-field >
    <input
    matInput rows="6"
    required
    [ngModel]="post?.title"
    placeholder="Post Title"
    name="title"
    #localTitle="ngModel">
    <mat-error *ngIf="localTitle.invalid">Please enter a post title</mat-error>
  </mat-form-field>
  <mat-form-field >
    <textarea
    matInput rows="6"
    name="content"
    [ngModel]="post?.content"
    required
    placeholder="Post Content"
    #localContent="ngModel"></textarea>
    <mat-error *ngIf="localContent.invalid">Please enter a post content</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">save post</button>
</form>
</mat-card>
